{% extends 'admin/master.html' %}

{% load static %}

{% block header %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{{ title }}</title>

        <link href="{% static 'admin/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"/>

        <script src="{% static 'admin/js/all.min.js' %}"></script>
        <script src="{% static 'css/font-awesome.min.css' %}"></script>
    </head>
{% endblock header %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock breadcrumb %}

{% block content %}

    {% comment %}
        ** Welcome Message **
    {% endcomment %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="alert alert-dark" role="alert">
                    <p>
                        Hello <b>{{ user.get_username }}</b><br>
                        Last Login on <b>{{ last_login }}</b>
                    </p>
                </div>
            </div>
        </div>

        {% comment %} 
            ** Dashboard Cards **
        {% endcomment %}
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-envelope"></i>
                        <b>Messages</b>
                    </div>
                    <div class="card-body">
                        {% if messages_info %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <i class="fa fa-inbox">
                                        </i>
                                        Inbox: {{ messages_info.messages_count }}
                                    </li>

                                     <li class="list-group-item">
                                        <i class="fa fa-envelope">
                                        </i>
                                        Latest Message From <b>{{ messages_info.latest_message.name }}</b>
                                    </li>  

                                    <li class="list-group-item">
                                        <i class="fa fa-comment-dots"></i>
                                        Subject: <b>{{ messages_info.latest_message.subject }}</b>
                                        On {{ messages_info.latest_message.date }}
                                    </li>  
                                </ul>

                        {% else %}
                            <div class="text-center">
                                <h3>
                                    You Have No Messages
                                </h3>
                            </div>
                        {% endif %}
                    </div> 
                    {% comment %}
                        ** End Card Body **
                    {% endcomment %}
                    <div class="card-footer text-center d-flex align-items-center justify-content-center">
                        <a type="button" class="btn btn-secondary" href="{% url 'mailbox'%}">
                        <i class="fa fa-envelope"></i>
                            <b>View Inbox</b>
                        </a>
                    </div>
                </div>
            </div>

            {% comment %} 
                ** Users Card **
            {% endcomment %}
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-user"></i>
                        <b>Last 3 Users</b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for user in last_three_users %}
                                <li class="list-group-item">
                                    <i class="fa fa-user"></i>
                                    <b>{{ user.username }}</b>
                                </li>
                            {% endfor %}
                        </ul>
                    </div> 
                    {% comment %}
                        ** End Card Body **
                    {% endcomment %}

                    <div class="card-footer text-center d-flex align-items-center justify-content-center">
                        <a type="button" class="btn btn-secondary" href="#">
                        <i class="fa fa-user"></i>
                            <b>User Management</b>
                        </a>
                    </div>
                </div>
            </div>
            {% comment %} 
                ** End Users Card **
            {% endcomment %}
        </div>
    </div>

{% endblock content %}

{% block sidebar %}
    {% include './includes/sidebar.html' %}
{% endblock sidebar %}
