{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% block header %}{% endblock header %}

    <body class="sb-nav-fixed">

        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'admin_dashboard' %}">Admin Panel</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fa fa-bars"></i></button><!-- Navbar Search-->

            <div class="d-none d-md-inline-block ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Navbar-->
        </nav>

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                {% block sidebar %}
                {% endblock sidebar %}
            </div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Dashboard</h1>
                        {% block breadcrumb %}{% endblock breadcrumb %}
                    </div>
                    {% block content %}{% endblock content %}
                </main>
            </div>
        </div>

        <script src="{% static 'admin/js/jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'admin/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'admin/js/scripts.js' %}"></script>

        {% block include_js %}{% endblock include_js %}

    </body>
</html>
