{% extends 'auth/auth_base.html' %}

{% block title %}
	{{ block.super }} - {{ title }}
{% endblock title %}

{% block card_header %}
	{{ title }}
{% endblock card_header %}

{% block submit_button %}
<div class="container-login100-form-btn m-t-17">
    <button class="login100-form-btn" type="submit">
        {{ title }}
    </button>
</div>
{% endblock submit_button %}

{% block error_block %}
<div class="flex-sb-m w-full p-t-3 p-b-24">
    {% if err_flag %}
        <div class="alert alert-danger">
            <ul>
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock error_block %}