{% load static %}
{% load widget_tweaks %}

<section class="section-contact section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <address>
                            <strong>Address</strong><br>
                                {{ c_info.address }}

                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Mobile Number</strong><br>
                            {{ c_info.phone_number }}
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:{{ c_info.email }}">{{ c_info.email }}</a>
                        </address>
                    </div>

                </div>
                <!--.row-->

                <div class="feedback-form">
                    <h3>GET IN TOUCH</h3>
                    <form id="contactForm" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if form.is_bound %}

                                    {% if field.errors %}

                                        {% render_field field class="is_invalid" %}
                                        
                                        {% for error in field.errors %}
                                            <div class="invalid-feedbacks">
                                                {{ error }}
                                            </div>
                                        {% endfor %}

                                    {% else %}
                                        {% render_field field class='form-control is-valid' %}
                                    {% endif %}

                                {% else %}
                                    {% render_field field  class="form-control" %}
                                {% endif %}

                                {% if field.help_text %}
                                    <small class="text-muted">
                                        {{ field.help_text }}
                                    </small>
                                 {% endif %}
                                 
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
            </div>
        </div>
        <!--.row-->

    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->