{% extends 'auth/auth_base.html' %}

{% block title %}
	{{ block.super }} - Change Password
{% endblock title %}

{% block card_header %}
	<h4>
        Change Password
    </h4>
{% endblock card_header %}

{% block submit_button %}
<div class="container-login100-form-btn m-t-17">
    <button class="login100-form-btn" type="submit">
        Submit
    </button>
</div>
{% endblock submit_button %}

{% block footer_text %}
<div class="flex-sb-m w-full p-t-3 p-b-24">
    <div>
        <a href="{% url 'password_reset' %}" class="txt1">
            Forgot Password?
        </a>
    </div>
</div>
{% endblock footer_text %}

{% block error_block %}
<div class="flex-sb-m w-full p-t-3 p-b-24">
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ol>
                {% for error in form.non_field_errors %}
                <li>
                    {{ error }}
                </li>
                {% endfor %}
            </ol>
        </div>
    {% else %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <ol>
                    {% for error in form.errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
    {% endif %}
    
    <div class="alert alert-info col">
        <ol>
            {% for field in form %}
                {% if field.help_text %}
                        <small>
                            {{ field.help_text }} <br>
                        </small>
                {% endif %}
            {% endfor %}
        </ol>
    </div>

</div>
{% endblock error_block %}