{% extends '../master.html' %}

{% load static %}

{% block header %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{{ title }}</title>

        <link href="{% static 'admin/css/styles.css' %}" rel="stylesheet" />

        <script src="{% static 'admin/js/all.min.js' %}"></script>
        <script src="{% static 'css/font-awesome.min.css' %}"></script>
    </head>
{% endblock header %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a href="{% url 'admin_dashboard' %}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'mailbox' %}">
            Mailbox
            </a>
        </li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock breadcrumb %}

{% block sidebar %}
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">

                            <div class="sb-sidenav-menu-heading">Main</div>

                            <a class="nav-link" href="{% url 'admin_dashboard'%}">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </div>
                                Dashboard
                            </a>

                            <div class="sb-sidenav-menu-heading">Settings</div>

                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-cog"></i>
                                </div>
                                Settings
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="#">Profile Review</a>
                                    <a class="nav-link" href="#">Security Settings</a>
                                    <a class="nav-link" href="#">Delete Account</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">User Management</div>

                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-user"></i>
                                </div>
                                Users
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" href="#">Users List</a>
                                    <a class="nav-link collapsed" href="#">Create A New User</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">Blog</div>

                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-pen-nib"></i>
                                </div>
                                Blog
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse" id="collapsePages" aria-labelledby="headingThree" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" href="#">Articles</a>
                                    <a class="nav-link collapsed" href="#">New Article</a>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">Mailbox</div>

                            <a class="nav-link" href="{% url 'mailbox' %}">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-inbox"></i>
                                </div>
                                Mailbox
                            </a>

                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{ user.get_username }}
                    </div>
                </nav>
{% endblock sidebar %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a type="btn" class="btn btn-danger" href="#">
                    <i class="fa fa-trash"></i>
                    Delete
                </a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-user"></i>
                        From: 
                        <b>
                            {{ mail.name }} 
                           < <a href="mailto:{{ mail.email }}">{{ mail.email }}</a> >
                        </b><br/>
                        <hr>
                        <i class="fa fa-comment-dots"></i>
                        Subject:
                        <b>{{ mail.subject }}</b>
                    </div>
                    <div class="card-body">
                        <samp>
                            {{ mail.message }}
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
