{% extends '../master.html' %}

{% load static %}

{% block header %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{{ title }}</title>

        <link href="{% static 'admin/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

    </head>
{% endblock header %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a href="{% url 'admin_dashboard' %}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active">Mailbox</li>
    </ol>
{% endblock breadcrumb %}

{% block sidebar %}
    {% include '../includes/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Date</th>
                                <th scope="col">View</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for item in mailbox_context %}
                            <tr>

                                <td>
                                    {{ item.name }}
                                </td>

                                <td>
                                    <a href="mailto:{{ item.email }}">
                                        {{ item.email }}
                                    </a>
                                </td>

                                <td>{{ item.subject }}</td>

                                <td>{{ item.date }}</td>

                                <td>
                                    <a type="button" class="btn btn-info" href="{% url 'mail_view' pk=item.pk %}">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </td>

                                <td>
                                    <a type="button" class="btn btn-danger" href="{% url 'delete_mail' pk=item.pk %}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

                {% include '../includes/paginator/paginator.html' %}

            </div>
        </div>
    </div>
{% endblock content %}
