{% extends '../master.html' %}

{% load static %}

{% block header %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{{ title }}</title>

        <link href="{% static 'admin/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

    </head>
{% endblock header %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a href="{% url 'admin_dashboard' %}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'mailbox' %}">
            Mailbox
            </a>
        </li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
{% endblock breadcrumb %}

{% block sidebar %}
    {% include '../includes/sidebar.html' %} 
{% endblock sidebar %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a type="btn" class="btn btn-danger" href="{% url 'delete_mail' pk=mail.pk %}">
                    <i class="fa fa-trash"></i>
                    Delete
                </a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-user"></i>
                        From: 
                        <b>
                            {{ mail.name }} 
                           < <a href="mailto:{{ mail.email }}">{{ mail.email }}</a> >
                        </b><br/>
                        <hr>
                        <i class="fa fa-comment-dots"></i>
                        Subject:
                        <b>{{ mail.subject }}</b>
                    </div>
                    <div class="card-body">
                        <samp>
                            {{ mail.message }}
                        </samp>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
